<h1>Transactions</h1>

<div class="flex-box">
  <% @transactions.each do |transaction| %>
    <div class="card">
      <%= link_to transaction_path(transaction) do %>
        <div class="card-body">
          <h5 class="card-title"><%= transaction.name %></h5>

          <p class="card-text">Balance: <%= transaction.balance %></p>
        </div>
      <% end %>
      <div class="card-footer bg-transparent">
        <div class="card-button yellow">Edit</div>
        <div class="card-button red">Delete</div>
      </div>
    </div>
  <% end %>
</div>

<%= button_to "Create New transaction", new_transaction_path, method: :get %>
