<div class="flex-for-two">
  <div class="container-a">
    <%= render 'accounts', accounts: @accounts %>
  </div>
  <div class="container-b">
    <%= form_with do |form| %>
      <%= form.date_select :birth_date %>
      <%= form.submit "Forecast" %>
    <% end %>
  </div>
</div>
